<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{{url_for('static',filename='waterdrink/style.css')}}">
    <title>HOME</title>
</head>
<body>
<center><h4>MyNUTRITION ASSISTENT</h4></center>
<center>    <img src="{{url_for('static',filename='bg.jpg')}}" width="500" height="350"></center>
       <p>Lets keep you Healthy and Fit...</p>
      <img src="{{url_for('static',filename='meal.png')}}" width="50" height="50"><br>
       <p> </p>
    <a href="/f00d_recog_inception">  <img src="{{url_for('static',filename='ingredients.png')}}" width="50" height="50"><br>
        <p></p>
<a href="/index" ><img src="{{url_for('static',filename='drink-water.png')}}" width="50" height="50"></a><br>
        <P>WATER CONSUMPTION TRACKING</P>
<a href="/base">  <img src="{{url_for('static',filename='diet.png')}}" width="50" height="50"></a><br>
        <P>BMI CALCULATOR</p>

</body>
</html>