<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{{url_for('static',filename='waterdrink/style.css')}}">
    <title>HOME</title>
</head>
<body>
<center><h4>MyNUTRITION ASSISTENT</h4></center>
<center>    <img src="{{url_for('static',filename='bg.jpg')}}" width="500" height="350"></center>
       <p>Lets keep you Healthy and Fit...</p>
      <a href="https://gayathri-s28-ingredientspredict-f00d-recog-inception-6bzmbw.streamlitapp.com/">  <img src="{{url_for('static',filename='ingredients.png')}}" width="50" height="50"></a><br>
        <p>INGRIEDIENT PREDICTION</p>
<a href="/index" ><img src="{{url_for('static',filename='drink-water.png')}}" width="50" height="50"></a><br>
        <P>WATER CONSUMPTION TRACKING</P>
<a href="/base">  <img src="{{url_for('static',filename='diet.png')}}" width="50" height="50"></a><br>
        <P>BMI CALCULATOR</p>

</body>
</html>
